.div_station_search {
	display:none;
	position:absolute;
	background:#C4FFC4;
	border:1px solid #333;
	max-height: 400px;
	overflow: auto;
}
.li_station {
	cursor:pointer;
	padding-right:5px;
	padding-left:5px;
	list-style:none;
}
.li_station:HOVER {
	background:#008A00;
	color: #fffafe;
	text-decoration:underline;
}
.ul_station {
	background:#C4FFC4;
}
input#rasp_from,input#rasp_to {
	width: 90%;
}
.historySearchLink {
	font-size: 0.8em;
}
.historySearchLi {
	margin:  2px 0px;
}